body {
  padding: 50px;
  font: 14px/1.5 "helvetica neue", helvetica, arial, sans-serif;
  color: #8b8b8b;
}

h1, h2, h3 {
  font-size: 33px;
  font-weight: normal;
  color: #333;
  -webkit-font-smoothing: antialiased;
}

h2 {
  display: none;
  font-size: 33px;
}

h3 {
  padding: 5px 0;
  font-size: 18px;
  border-bottom: 3px solid #eee;
  font-weight: bold;
}

h3 a{
  color: #333;
}

ul{
  list-style-type: circle;
}

ul ul{
  list-style-type: disc;
  padding:0; margin:0; margin-left: 16px;
}

ul.menu a{
  margin-right: 8px;
}

ul.menu .line{
  margin: 12px 0;  list-style-type: none; height: 0;
}

a {
  color: #00B5E2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.sandbox {
  margin: 10px 0;
  padding: 5px;
  border: 1px solid #eee;
}

.source {
  margin: 0; padding: 0;
  font-family: monaco, monospace;
  font-size: 13px;
  color: #000;
}

.example p {
  color: #8b8b8b; margin: 10px 0;
}

.example .param{
  margin: 10px 0;
}

.example .param p {
  padding: 0; margin: 0; margin-left: 15px;
  color: #8b8b8b;
}

.example p em{
  font-style: italic;
  color: #333; padding: 0 5px;
}
.example p var{
  font-style: normal;
  color: #AFB02B;
  padding: 0 5px;
}

.example code {
  color: #444;
  padding: 5px 12px;
  border: 1px solid #eee;
  border-radius: 3px;
}

#example-1 .box,
#example-2 .box,
#example-3 .box {
  margin-left: 100px;
}


.footer{
  border-top: 3px solid #ddd;
  background: #efefef;
  margin-top: 25px;
  padding: 15px;
}


.footer span{
  display: inline-block; margin: 0 12px;
}